* {
  border: 0;
  padding: 0;
  color: rgb(231, 233, 234);
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
}

.home-container {
  width: 100%;
  height: auto;
}
.home-contents-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding-bottom: 100px;
}

.home-header-container {
  background-color: rgba(0, 0, 0, 0.92);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  border-bottom: 1px solid rgb(97, 95, 95);
}
.home-header-container-child {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.home-header-container-child:hover {
  background-color: rgba(
    113,
    118,
    123,
    0.2
  ); /* Keep the same background color */
}
.home-header-container-child p {
  font-weight: 400;
  font-size: 20px;
  color: darkgray;
}
.home-header-container .active p {
  color: rgb(231, 233, 234);
  font-weight: 500;
  display: inline;
  position: relative;
}
.home-header-container .active p:after {
  content: "";
  position: absolute;
  border-radius: 4px;
  left: 0;
  right: 0;
  bottom: -23px; /* Adjust as needed to position the underline */
  width: 100%;
  height: 6px; /* Adjust thickness of the underline */
  background-color: rgb(29, 155, 240); /* Color of the underline */
}
